.mt{
    position: inherit;
    top: 0;
    left:0;
    width:60%;
    display:flex;
    flex-direction: row;
}

.man{
    position: inherit;
    left:-35%;
    top:16%
}
.DB{
    position: inherit;
    height:40%;
    width:30%;
}
.articleContent{
    width: 80%;
    height:100%;
    @include centerShit();
}


.Bg{
    height: 100%;
    width: 100%;
    @include centerShit();
}
.uC,.bgUc{
    position: absolute;
    top:10%;
    height: 100%;
    width: 100%;
}


@media (max-width: 768px) {
    .DB{
        visibility:hidden;
        opacity:    0;
    }
    .man{
        left:-50%;
    }

    .separator{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30%;
        
    }
    .Bg{
        display: flex;
        align-items:center;
        justify-content:center;
        position:relative;
        z-index: 1;
    }
}