
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600vh;
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
    z-index: $aage;
    #home{
        position: relative;
        width: 100%;
        height: 100vh;
        color: rgb(131, 29, 29);
    }
    #project,#articles,#contactMe,#aboutMe{
        display: flex;
        position: relative;
        height: 100vh;   
        color: rgb(149, 39, 39);
    }
}
#root{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // background-color: rgb(255, 255, 255);
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(83, 31, 31);//changer this for the background
}

