.treeAndMan{
	position: relative;
	left:10%;
}
.secondMan{
	position: relative;
	left:0%;
	top:15%;
}
.wrapper{
	position: relative;
	top: 10%;
	left: 0%;
	height:40%;
	width: 40%;
	max-width: 550px;
	background: #3F3D56;
	padding: 5%;
	border-radius: .5em;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	font-size:1.6em;
   }
  
.feba{
	color:red;
	font-size:.4em;
	position: relative;
	top:0;
}
.contact-form{
	display: flex;
	flex-direction: column;
   }
label,::placeholder{
	font-family: "Imprima",sans-serif;
	font-weight: 400;
	font-size:1em;
	color: #6C63FF;
   }
   ::placeholder{
	font-size:1.2em;
   }
   .input-fields{
	display: flex;
	flex-direction: column;
	margin-right: 4%;
	
   }
   
   .input-fields,
   .msg{
	width: 100%;
	
   }
   
   .input-fields .input,
   .msg textarea{
	margin: 10px 0;
	background: transparent;
	border: 0px;
	border-bottom: 2px solid #6C63FF;
	padding: 1%;
	color: #6C63FF;
	max-height: 30%;
	width: 100%;
	height: 40%;
   }
   
   .msg textarea{
	height:20%;
   }
   
.btn {
	background: #6C63FF;
	position: relative;
	width: 70%;
	text-align: center;
	height: 15%;
	color: #3F3D56;
	text-transform: uppercase;
	border: 2px solid #6C63FF; /* Border thickness, line style, and color */
	border-radius: 70px; /* Adds curve to border corners */
	text-decoration: none;
	text-transform: uppercase; /* Make letters uppercase */
	padding: 16px 32px;
	font-size: 16px;
	margin: 4px 2px;
	position: relative;
	top:0;
	left:15%;
 }
 .c-logo-1{
		position: absolute;
		width: 10%;
		height:10%;
		left:30%;
		top:85%;
		
 }
 .c-logo-2{
	position: absolute;
	width: 10%;
	height:10%;
	left:60%;
	top:85%;
}
 .verify{
	 height:8vh;
 }

 @media (max-width: 900px){
	 .wrapper{
		 width:65%;
		 height:45%;
		 position:relative;
		 top:15%;
		 left:0%;
	 }
   .contact-form{
	flex-direction: column;
   }
   .msg textarea{
	height: 80px;
   }
   .input-fields,
   .msg{
	width: 100%;
   }
   .c-logo-1{
	   width:90%;
	   top:87%;
	   left:-10%;
   }
   .c-logo-2{
	width:90%;
	top:87%;
	left:20%;
   }
 }

 @media all and (min-width: 1030px)   and (max-width: 1368px) {
	.wrapper{
		height: 45%;
	}
	.treeAndMan{
		position: relative;
		left:15%;
		transform:scale(.8)
	}
	.secondMan{
		left:-20%;
	}
 }