.hamburger{
    position: fixed;
    top:5em;
    right:5em;
    z-index: $aage+2;
    height: 10vh;
    width: 3vw;
}
.line {
    padding: .2em ;
    margin-bottom: 5em;
    background-color: rgb(139, 0, 0);
    cursor:pointer;
    margin: .1em;
    
}
.nav{
    width:20em;
    height: 100%;
    position: fixed;
    top: 0;
    right:-39em;
    // height: 100vh;
    overflow-x: hidden;
    background: rgb(189, 52, 52);
    z-index: $aage + 2;
    .links a{
        font-family: "Imprima",sans-serif;
        font-size: 1.4rem;
        display: block;
        color: rgb(255, 255, 255);
        margin-bottom: 4em;
        text-decoration: none;
        cursor:pointer;     
    }  
    
    
    .links{
        padding-top: 15em;
        padding-left: 2em;
        overflow: hidden;
        z-index: $aage+2;
    }
}
// @media (min-width:360px){
//     #toggle{
//         top:6vh;
//         width: 37px;
//     }
//     .nav{
//         width: 25vw;
//         right:-50em;
//         top:0;
        
//     }
// }