@import "./menu";

.text {
    position: absolute;
    z-index: 6;
    width: 100vw;
    color: #ff839c;
    font-size: 4em;
    width: 75%;
    font-weight: bold;
    top: 30%;
    left: 5%;
    z-index: 6;
}

.bg {
    height: 100vh;
    width: 100vw;
}

.mountain,
.manAndFloor {
    height: 60%;
    width: 50%
}

.mountain {
    position: absolute;
    top: 10%;
    left: 38%;
    z-index: 1;
}

.manAndFloor {
    position: absolute;
    top: 30%;
    left: 35%;
    z-index: 3;
}

.text2 {
    position: absolute;
    opacity: .9;
    font-size: 2rem;
    font-weight: 300;
    color: #FF6584;

}

.sky {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
}

@media (max-width:900px) {
    .text {
        left: 10%;
        top: 25%;
        font-size: 2.15em;
        min-width: 80%;

    }

    .text>span {
        opacity: .8;
        font-size: .8em;
        font-weight: 200;
    }

    .bg {
        position: inherit;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    .manAndFloor {
        position: absolute;
        left: -5%;
        top: 25%;
        height: 100%;
        width: 100%;

    }

    .mountain {
        position: absolute;
        height: 90%;
        width: 80%;
        left: 15%;
        top: 20%;

    }
}