
#navBar{    
    @include centerShit1(1vw);
    div{
        width: 100%;
        color: $background;
    }
}
@media only screen and (min-width:768px){
#navBar{
    display: inline;
    width: 100%;
    margin-left: 80%;
    margin-top: 10%;
    
    @include centerShit1(1vw);
    div{
        display: inline;
        text-decoration: rgb(129, 104, 197);
        padding-left: 2vw;
    }
}
}