.mAC{
     position: inherit;
     left:20%;
     z-index: 3;
     top: 10%;
}
.backG{
     position: inherit;
     z-index: 2;
     left: -20%;
}
.card-box{
     display:grid;
     grid-template-columns: auto ;
     position:relative;
     top: 15%;

}

.card{
     justify-content: center;
    align-items: center;
     width: 15vh;
     height: 17vh;
     background: #d4d1d1d1;
     border-radius:.8em;
     box-shadow: -3px 3px 10px 0px ;
     margin:1.2vh 0;
     transition: all 250ms ease;

     .peeche{
               display:none;
             
 
     }
     .aage{
          @include centerShit();
          flex-direction: column;
          position: relative;
          top:-5%;
          left:-2.5%;
          .sf{
               font-weight: 900;
               font-size: 4em;
               color: #443f80;
               height:auto;
               margin:.4em 0 0 0 ;
             }
          .lf{
               font-weight: 200;
               font-size: 0.7em;
               margin:.4em 0 0 0 ;
               
             }
     }
     .i{
          position:relative;
          top: 5%;
          left: 75%;
          align-self: start;
          z-index: 7;
     }
 }
 .desc{
     position:inherit;
     font-size: 1em;
     top: 0;
     left: 0;
     z-index: 5;
 }
 @media (max-width: 900px) {
 .card{
      width: 35vw;
      height:20vh;
     .aage{
          top:-20%;
          left:-2.5%;
        .sf{
         font-weight: 600;
         font-size: 4em;
          }
          .lf{
               font-weight: 400;
               font-size: 1.2em;
          }
     }
     .peeche{
          width: 40vw;
         font-size: .8em;

     }
 }
}