html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Imprima",sans-serif;
  background-color: #3F3D56;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.light {
  background-color: #D4D1D1;
}

.dark {
  background-color: #443f80;
}

.footer {
  background-color: black;
  height: 30vh;
  width: 100%;
  color: #D4D1D1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.logo-wrapper {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.footer > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
  text-decoration: none;
  margin-top: 1.8em;
}

.projectS, .articleS, .contactS, .aboutS {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeS {
  width: 100%;
  border: 10px solid #000;
}

.Left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 48.5%;
  position: relative;
}

.Right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 48.5%;
  position: relative;
}

.Right .Right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -5%;
}

.Right .Right-content h1 {
  font-size: 6em;
  font-weight: 400;
  position: absolute;
  top: 0;
}

@media (max-width: 900px) {
  .Left {
    width: 0;
    visibility: hidden;
  }
  .Right {
    width: 100%;
  }
  .Right h1 {
    top: 10%;
  }
}

.mt {
  position: inherit;
  top: 0;
  left: 0;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.man {
  position: inherit;
  left: -35%;
  top: 16%;
}

.DB {
  position: inherit;
  height: 40%;
  width: 30%;
}

.articleContent {
  width: 80%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.separator {
  height: 100%;
  width: 3%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3F3D56), to(rgba(59, 58, 65, 0.03)));
  background: linear-gradient(180deg, #3F3D56 0%, rgba(59, 58, 65, 0.03) 100%);
}

.inv-sep {
  background: -webkit-gradient(linear, left top, left bottom, from(#CECBCB), to(#443f80));
  background: linear-gradient(180deg, #CECBCB, #443f80 100%);
}

.Bg {
  height: 100%;
  width: 100%;
}

.uC, .bgUc {
  position: absolute;
  top: 10%;
  left: 0;
  width: 60vw;
  height: 30vh;
}

@media (max-width: 900px) {
  .DB {
    visibility: hidden;
    opacity: 0;
  }
  .man {
    left: -50%;
  }
  .separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
  }
  .Bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 1;
  }
}

.menu-wrap {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 7;
}

.menu-wrap .toggler {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 5;
  cursor: pointer;
  height: 40px;
  width: 40px;
  opacity: 0;
  z-index: 6;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 7%;
  right: 7%;
  z-index: 5;
  background: #FF6584;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .4em;
}

.menu-wrap .hamburger > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 70%;
  height: 4px;
  background-color: #3F3D56;
  border-radius: .2em;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0.68, 0.36, 2.63);
  transition: all 0.3s cubic-bezier(0.42, 0.68, 0.36, 2.63);
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: -1.1vh;
  width: 100%;
  height: 4px;
  background: inherit;
  border-radius: .2em;
}

.menu-wrap .hamburger > div::after {
  top: 1vh;
}

.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.menu-wrap .toggler:checked ~ .menu > div > div > div {
  opacity: 1;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.menu-wrap .menu > div {
  background: #3C395C;
  border-radius: 10%;
  width: 150vw;
  height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.1s cubic-bezier(0.04, 0.71, 0.36, 1.03);
  transition: all 0.1s cubic-bezier(0.04, 0.71, 0.36, 1.03);
}

.menu-wrap .menu > div > div {
  background: #2F2A66;
  border-radius: 10%;
  width: 150vw;
  height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s cubic-bezier(0.04, 0.71, 0.36, 1.03);
  transition: all 0.2s cubic-bezier(0.04, 0.71, 0.36, 1.03);
}

.menu-wrap .menu > div > div > div {
  text-align: center;
  max-width: 200vw;
  max-height: 200vh;
  opacity: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.04, 0.71, 0.36, 1.03);
  transition: opacity 0.3s cubic-bezier(0.04, 0.71, 0.36, 1.03);
}

.menu-wrap .menu > div > div > div > ul > li {
  list-style: none;
  color: #D4D1D1;
  font-size: 2rem;
  padding: 2rem;
}

.menu-wrap .menu > div > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.3s cubic-bezier(0.04, 0.71, 0.36, 1.03);
  transition: color 0.3s cubic-bezier(0.04, 0.71, 0.36, 1.03);
}

.text {
  color: #FF6584;
  position: absolute;
  width: 75%;
  font-size: 3.1em;
  left: 10%;
  top: 15%;
  z-index: 6;
}

.text > span {
  opacity: .9;
  font-size: .8em;
}

.bg {
  position: inherit;
  top: 0;
  left: 0;
  overflow: hidden;
}

.manAndFloor {
  position: absolute;
  top: 45%;
  left: 10%;
  z-index: 3;
}

.sky {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.mountain {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .text {
    z-index: 6;
    width: 100vw;
  }
  .bg {
    height: 100vh;
    width: 100vw;
  }
  .mountain, .manAndFloor {
    height: 60%;
    width: 50%;
  }
  .mountain {
    top: 10%;
    left: 35%;
  }
  .manAndFloor {
    top: 40%;
    left: 35%;
  }
  .text > span {
    opacity: .9;
    font-size: .75em;
  }
}

@-webkit-keyframes go-up {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
}

@keyframes go-up {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
}

@-webkit-keyframes go-down {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

@keyframes go-down {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}

.mAC {
  position: inherit;
  left: 20%;
  z-index: 3;
  top: 10%;
}

.backG {
  position: inherit;
  z-index: 2;
  left: -20%;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30vw;
  height: 10vh;
  background-color: #D4D1D1;
  border-radius: .8em;
  -webkit-box-shadow: -3px 3px 10px 0px;
          box-shadow: -3px 3px 10px 0px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .l {
  height: 100%;
  width: 25%;
  border-right: #443f80 solid .2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .l .sf {
  font-weight: 900;
  font-size: 4em;
  color: #443f80;
}

.card .l .lf {
  font-weight: 200;
  font-size: 1em;
}

.card .r {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3em;
}

@media (max-width: 900px) {
  .card {
    width: 80%;
  }
  .card .l {
    width: 35%;
  }
  .card .l .sf {
    font-weight: 450;
    font-size: 2em;
  }
  .card .l .lf {
    font-weight: 400;
    font-size: .8em;
  }
  .card .r {
    width: 65%;
    font-size: 1.05em;
  }
}
/*# sourceMappingURL=index.css.map */