html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Imprima",sans-serif;
  background-color: #3F3D56;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1, h2, h3 {
  margin: .5em  0;
}

.container {
  height: 95vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.light {
  background-color: #D4D1D1;
}

.dark {
  background-color: #282736;
}

.footer {
  background-color: black;
  height: 30vh;
  width: 100%;
  color: #D4D1D1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.logo-wrapper {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.footer > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
  text-decoration: none;
  margin-top: 1.8em;
}

.projectS, .articleS, .contactS, .aboutS {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homeS {
  width: 100%;
  border: 10px solid #000;
}

.Left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 48.5%;
  position: relative;
}

.Right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 48.5%;
  position: relative;
}

.Right .Right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -5%;
}

.Right .Right-content h1 {
  position: absolute;
  top: 5%;
}

.title {
  color: #1a1919;
  font-size: 6em;
  font-weight: 400;
}

.titleDark {
  color: #d4d1d1e7;
  font-size: 6em;
  font-weight: 400;
}

.separator {
  height: 100%;
  width: 3%;
  background: -webkit-gradient(linear, left top, left bottom, from(#282736), to(rgba(59, 58, 65, 0.03)));
  background: linear-gradient(180deg, #282736 0%, rgba(59, 58, 65, 0.03) 100%);
}

.inv-sep {
  background: -webkit-gradient(linear, left top, left bottom, from(#CECBCB), to(#282736));
  background: linear-gradient(180deg, #CECBCB, #282736 100%);
}

@media (max-width: 900px) {
  .title {
    color: #ff6584;
  }
  .Left {
    width: 0;
    visibility: hidden;
  }
  .Right {
    width: 100%;
  }
  .Right h1 {
    top: 10%;
  }
  .titleDark {
    color: #ff6584;
  }
}

.mt {
  position: inherit;
  top: 0;
  left: 0;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.man {
  position: inherit;
  left: -35%;
  top: 16%;
}

.DB {
  position: inherit;
  height: 40%;
  width: 30%;
}

.articleContent {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Bg {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uC, .bgUc {
  position: absolute;
  top: 10%;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .DB {
    visibility: hidden;
    opacity: 0;
  }
  .man {
    left: -50%;
  }
  .separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
  }
  .Bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 1;
  }
}

.menu-wrap {
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 7;
}

.menu-wrap .toggler {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 5;
  cursor: pointer;
  height: 40px;
  width: 40px;
  opacity: 0;
  z-index: 6;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 7%;
  right: 7%;
  z-index: 5;
  background: #FF6584;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .4em;
}

.menu-wrap .hamburger > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 70%;
  height: 4px;
  background-color: #3F3D56;
  border-radius: .2em;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0.68, 0.36, 2.63);
  transition: all 0.3s cubic-bezier(0.42, 0.68, 0.36, 2.63);
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: -1.1vh;
  width: 100%;
  height: 4px;
  background: inherit;
  border-radius: .2em;
}

.menu-wrap .hamburger > div::after {
  top: 1vh;
}

.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.9;
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.menu-wrap .toggler:checked ~ .menu > div > div > div {
  opacity: 1;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.menu-wrap .menu > div {
  background: #3C395C;
  border-radius: 10%;
  width: 150vw;
  height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.1s cubic-bezier(0.04, 0.71, 0.36, 1.03);
  transition: all 0.1s cubic-bezier(0.04, 0.71, 0.36, 1.03);
}

.menu-wrap .menu > div > div {
  background: #2F2A66;
  border-radius: 10%;
  width: 150vw;
  height: 150vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s cubic-bezier(0.04, 0.71, 0.36, 1.03);
  transition: all 0.2s cubic-bezier(0.04, 0.71, 0.36, 1.03);
}

.menu-wrap .menu > div > div > div {
  text-align: center;
  max-width: 200vw;
  max-height: 200vh;
  opacity: 0;
  -webkit-transition: opacity 0.3s cubic-bezier(0.04, 0.71, 0.36, 1.03);
  transition: opacity 0.3s cubic-bezier(0.04, 0.71, 0.36, 1.03);
}

.menu-wrap .menu > div > div > div > ul > li {
  list-style: none;
  color: #D4D1D1;
  font-size: 2rem;
  padding: 2rem;
}

.menu-wrap .menu > div > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.3s cubic-bezier(0.04, 0.71, 0.36, 1.03);
  transition: color 0.3s cubic-bezier(0.04, 0.71, 0.36, 1.03);
}

.text {
  position: absolute;
  z-index: 6;
  width: 100vw;
  color: #FF6584;
  font-size: 4em;
  width: 75%;
  font-weight: 900;
  top: 30%;
  left: 10%;
  z-index: 6;
}

.bg {
  height: 100vh;
  width: 100vw;
}

.mountain, .manAndFloor {
  height: 60%;
  width: 50%;
}

.mountain {
  position: absolute;
  top: 10%;
  left: 35%;
  z-index: 1;
}

.manAndFloor {
  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 3;
}

.text2 {
  position: absolute;
  opacity: .9;
  font-size: 2rem;
  font-weight: 300;
  color: #FF6584;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

@media (max-width: 900px) {
  .text {
    left: 10%;
    top: 15%;
    font-size: 2.15em;
  }
  .text > span {
    opacity: .8;
    font-size: .8em;
    font-weight: 200;
  }
  .bg {
    position: inherit;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .manAndFloor {
    position: absolute;
    left: -5%;
    top: 25%;
    height: 100%;
    width: 100%;
  }
  .mountain {
    position: absolute;
    height: 90%;
    width: 80%;
    left: 10%;
    top: 20%;
  }
}

.mAC {
  position: inherit;
  left: 20%;
  z-index: 3;
  top: 10%;
}

.backG {
  position: inherit;
  z-index: 2;
  left: -20%;
}

.card-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  position: relative;
  top: 25%;
  z-index: 5;
}

.card .peeche {
  position: relative;
  top: -25%;
  width: 20vh;
  -webkit-transition: opacity 275ms,-webkit-transform 275ms;
  transition: opacity 275ms,-webkit-transform 275ms;
  transition: opacity 275ms,transform 275ms;
  transition: opacity 275ms,transform 275ms,-webkit-transform 275ms;
  color: #d4d1d1e7;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.card .aage {
  width: 15vh;
  height: 17vh;
  background: #d4d1d1e7;
  border-radius: .8em;
  -webkit-box-shadow: -3px 3px 10px 0px;
          box-shadow: -3px 3px 10px 0px;
  margin: 1.2vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -5%;
  left: 0%;
  -webkit-transition: -webkit-transform 275ms;
  transition: -webkit-transform 275ms;
  transition: transform 275ms;
  transition: transform 275ms, -webkit-transform 275ms;
}

.card .aage .sf {
  position: relative;
  font-weight: 900;
  font-size: 4em;
  color: #443f80;
  height: auto;
  margin: .4em 0 0 0;
  top: -10%;
  left: 0%;
}

.card .aage .lf {
  position: relative;
  top: -20%;
  font-weight: 200;
  font-size: 1.2em;
  margin: .4em 0 0 0;
}

.card .i {
  position: relative;
  top: 10%;
  left: 80%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  z-index: 7;
  -webkit-transition: display 250ms;
  transition: display 250ms;
}

.card .close {
  display: none;
  position: relative;
  top: 10%;
  left: 38%;
}

.desc {
  position: inherit;
  font-size: .9em;
  top: 0;
  left: 0;
  z-index: 5;
}

.background {
  background: #234;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10%;
  left: -10%;
  z-index: -1;
  border-radius: .6em;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
  opacity: 0;
}

.upar {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.grow {
  -webkit-transition: opacity 275ms cubic-bezier(0, 0, 1, 0.43), -webkit-transform 275ms ease-in-out;
  transition: opacity 275ms cubic-bezier(0, 0, 1, 0.43), -webkit-transform 275ms ease-in-out;
  transition: transform 275ms ease-in-out, opacity 275ms cubic-bezier(0, 0, 1, 0.43);
  transition: transform 275ms ease-in-out, opacity 275ms cubic-bezier(0, 0, 1, 0.43), -webkit-transform 275ms ease-in-out;
  -webkit-transform: scale(1.4, 0.7);
          transform: scale(1.4, 0.7);
  opacity: 1;
}

@media (max-width: 900px) and (hover: none) {
  .card-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .card .i {
    position: relative;
    top: -0%;
    left: 80%;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    z-index: 7;
  }
  .card .aage {
    top: -20%;
    left: -2.5%;
    width: 20vh;
    height: 25vh;
  }
  .card .aage .sf {
    position: relative;
    font-weight: 700;
    font-size: 4em;
    top: -10%;
  }
  .card .aage .lf {
    position: relative;
    font-weight: 400;
    font-size: 1.4em;
    top: -15%;
  }
  .card .aage .close {
    left: 2;
    top: 0%;
  }
  .card .aage .background {
    top: 0%;
    bottom: 30%;
    right: 3%;
    left: -2%;
  }
  .card .peeche {
    position: relative;
    top: -30%;
    width: 40vw;
    font-size: 1.2em;
    z-index: 2;
  }
  .upar {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  .grow {
    -webkit-transition: opacity 275ms cubic-bezier(0, 0, 1, 0.43), -webkit-transform 275ms ease-in-out;
    transition: opacity 275ms cubic-bezier(0, 0, 1, 0.43), -webkit-transform 275ms ease-in-out;
    transition: transform 275ms ease-in-out, opacity 275ms cubic-bezier(0, 0, 1, 0.43);
    transition: transform 275ms ease-in-out, opacity 275ms cubic-bezier(0, 0, 1, 0.43), -webkit-transform 275ms ease-in-out;
    -webkit-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
    opacity: 1;
  }
  #project {
    height: 150vh;
  }
}

.lady {
  position: absolute;
  top: 31%;
  left: 40%;
  z-index: 2;
}

.road {
  position: absolute;
  top: 25%;
  z-index: 1;
}

.am {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 200;
  color: #FF6584;
  top: 40%;
  left: 10%;
}

.gridOne {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  position: relative;
  top: 25%;
}

.gridOne img {
  margin: .9em 1.2em;
  height: 64px;
  width: 64px;
}

@media (max-width: 900px) {
  .smol {
    font-size: 4.75em;
  }
  .am {
    font-size: 1.3rem;
    position: relative;
    top: 20%;
    left: 5%;
  }
  .gridOne {
    width: 70%;
    top: 20%;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .gridOne img {
    margin: .3em .9em;
  }
  #about {
    height: 120vh;
  }
}

.secondMan {
  position: relative;
  left: -20%;
  top: 15%;
}

.wrapper {
  position: relative;
  top: 10%;
  left: 0%;
  height: 40%;
  width: 40%;
  max-width: 550px;
  background: #3F3D56;
  padding: 30px;
  border-radius: .5em;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 1.6em;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

::-webkit-input-placeholder {
  font-family: "Imprima",sans-serif;
  font-weight: 400;
  font-size: 1.6em;
}

:-ms-input-placeholder {
  font-family: "Imprima",sans-serif;
  font-weight: 400;
  font-size: 1.6em;
}

::-ms-input-placeholder {
  font-family: "Imprima",sans-serif;
  font-weight: 400;
  font-size: 1.6em;
}

::placeholder {
  font-family: "Imprima",sans-serif;
  font-weight: 400;
  font-size: 1.6em;
}

.input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg {
  width: 100%;
}

.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #6C63FF;
  padding: 1%;
  color: #6C63FF;
  max-height: 30%;
  width: 100%;
  height: 40%;
}

.msg textarea {
  height: 20%;
}

.btn {
  background: #6C63FF;
  text-align: center;
  padding: 15px;
  margin-top: 10%;
  border-radius: 5px;
  color: #3F3D56;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .wrapper {
    width: 65%;
    height: 50%;
    position: relative;
    top: 15%;
    left: 0%;
  }
  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .input-fields,
  .msg {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */