@import "./partials/variables";
@import "./partials/functions";

html,body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Imprima",sans-serif;
    background-color: $background;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container{
        height: 100vh;
        width: 100vw;
        position: relative;
        top: 0;
        left: 0;
        display:flex;
        flex-direction: row;
    }

.light{
    background-color:#D4D1D1;
}
.dark{
    background-color :#443f80;
}
.footer{
    background-color:black;
    height:30vh;
    width:100%;
    color: #D4D1D1;
    @include centerShit();
    flex-direction: column;
    text-decoration: none;
    
}
.logo-wrapper{
    transform: scale($scaleFactor);
    @include centerShit();
    cursor: pointer;

}
.footer span{
    @include centerShit();
    padding-top: 2em;
    text-decoration: none;
    margin-top: 1.8em;
}
.projectS,.articleS,.contactS,.aboutS{
    width:40%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.homeS{
    width:100%;
    border: 10px solid #000;
}

.Left{
    display:flex;
    justify-content:center;
    flex-direction: row;
    height:100%;
    width:48.5%;
    position:relative;
}

.Right{
    display:flex;
    justify-content:center;
    flex-direction: row;
    height:100%;
    width:48.5%;
    position:relative;
}
.separator{
    height:100%;
    width:3%;
}

.Bg{
    height: 20%;
    width: 20%;
    position: absolute;
    top: 40%;
    left: 0;
}
.uC,.bgUc{
    position: absolute;
    top: 10%;
    left: 0;
}
h1{
    font-size:6em;
    font-weight: 400;
    position: relative;
    top:-1%;
}
@media (max-width: 900px) {
    .Left{
        width:0;
        visibility:hidden;
    }
    .Right{
        width:100%;
    }

    .separator{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30%;
    }
    .Bg{
        display: flex;
        align-items:center;
        justify-content:center;
        position:relative;
        z-index: 1;
    }
    h1{
        top:10%;
    }

}

// @media (max-width: 700px) and (max-width: 900px) {
//     .separator{
//         visibility:hidden;
//         opacity:    0;
//     }
//     .Left{
//         z-index:2;
//         opacity: 0.5;
//         width:100%;
//         left:0
//     }
// }


@import "./partials/articles";
// @import "./partials/hamburger";
@import "./partials/home";