@import "./partials/functions";
$background:#3F3D56;
$fullH:100vh;
$fullW:100vw;
$scaleFactor:0.4;

html,body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Imprima",sans-serif;
    background-color: $background;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
}
h1,h2,h3{
    margin: .5em  0 ;
}
// .title{
//     position: relative;
//     top:10%;
// }
.container{
        height: 100vh;
        width: 100vw;
        position: relative;
        top: 0;
        left: 0;
        display:flex;
        flex-direction: row;
        overflow: hidden;
    }

.light{
    background-color:#D4D1D1;
}
.dark{
    background-color :#443f80;
}
.footer{
    background-color:black;
    height:30vh;
    width:100%;
    color: #D4D1D1;
    @include centerShit();
    flex-direction: column;
    text-decoration: none;
    
}
.logo-wrapper{
    transform: scale($scaleFactor);
    @include centerShit();
    cursor: pointer;

}
.footer >span{
    @include centerShit();
    padding-top: 2em;
    text-decoration: none;
    margin-top: 1.8em;
}
.projectS,.articleS,.contactS,.aboutS{
    width:40%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.homeS{
    width:100%;
    border: 10px solid #000;
}

.Left{
    display:flex;
    justify-content:center;
    flex-direction: row;
    height:100%;
    width:48.5%;
    position:relative;
}

.Right{
    display:flex;
    flex-direction: row;
    height:100%;
    width:48.5%;
    position:relative;
    .Right-content{
        display:flex;
        height:100%;
        width:100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top:-5%;
        h1{
            font-size:6em;
            font-weight: 400;
            position: absolute;
            top:0;
        }
    }
}


@media (max-width: 900px) {
    .Left{
        width:0;
        visibility:hidden;
    }
    .Right{
        width:100%;
        h1{
            top:10%;
        }
    }

}

@import "./partials/articles";
// @import "./partials/hamburger";
@import "./partials/home";
@import "./partials/project";