
@import "./partials/variables";
@import "./partials/functions";
@import "./partials/hamburger";
@import "./partials/content";
html,body{
    box-sizing: border-box;
    margin:0px;
    font-family: Ubuntu;
    background-color: $background;
    overflow-y: hidden;
}
